body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  justify-items: center;
}

h1 {
  text-align: center;
}

#statContainer {
  width: 100px;
}

#gameContainer {
  width: 800px;
}

.bar {
  height: 20px;
  width: 200px;
  background-color: green;
  position: relative;
  z-index: 0;
  max-width: 200px;
}

.stat {
  display: block;
  height: 20px;
  width: 200px;
  background-color: rgb(128, 128, 128);
  margin: 5px 0px;
}

p {
  color: white;
  font-weight: 800;
  z-index: 1;
  display: inline;
  position: absolute;
  transform: translate(10%, -80%);
}

#statContainer {
  grid-area: bars;
  width: 500px;
  justify-items: center;
}

#gameBox {
  width: 100%;
  display: grid;
  grid-template-areas:
    'bars buttons'
    'stick buttons';
}

#stick {
  height: auto;
  width: 500px;
}

#stickMan {
  grid-area: stick;
  width: 500px;
  justify-content: center;
}

#buttonDiv {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 300px;
  height: 85px;
  margin-bottom: 10px;
  border: none;
  background: none;
  justify-self: center;
}

#buttonDiv :hover {
  transform: scale(120%);
  /* background: gray; */
}

#buttonDiv :active {
  transform: scale(120%) rotate(-20deg);
  /* background: gray; */
}

#alert {
  position: absolute;
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: 800;
  width: 350px;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  transform: translate(10%, 100%);
}
.hide {
  display: none;
}

.buttonImg {
  height: 90px;
  width: auto;
  justify-self: center;
}

#restartButton {
  display: block;
  height: 30px;
  width: auto;
  color: white;
  background: gray;
  transform: translate(0%, 40%);
}
